@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #f8f9fa;
    font-family: "Nunito", sans-serif;
}

/* Small Screens */
@media (max-width: 600px) {
    .container {
        width: 320px;
    } 
    nav {
        display: flex;
        justify-content: center;
    }
    .overlay {
        width: auto !important;
    }

    /* start section */
    section {
        height: auto !important;
        display: flex;
        flex-direction: column;
    }

    article {height: 800px !important;}
    article .container {
        display: flex !important;
        flex-direction: column;
    }
    article .right h2 {
        text-align: center !important;
    }

    .article2 {height: 840px !important;}
    .article2 .container {
        flex-direction: column;
        height: 800px !important;
    }
    .article2 .left {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .article2 .right {
        display: flex;
        justify-content: center;
    }
    .article2 img {
        margin-top: 10px;
        height: 230px !important;
    }
    video {
        height: 200px;
        width: 350px;
    }
    .flex {flex-direction: column;}
    .flex .left {
        display: flex;
        justify-content: center;
    }
    .flex p {text-align: center;}
}


html {
    scroll-behavior: smooth;
}

body {
    height: 100vh;
    font-size: 18px;
    margin: 0;
}

ul {
    list-style: none;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
/* End Global Rules */
/* start header */
header {
    height: 550px;
}
header .container {
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
header img {
    height: 100px;
    padding: 20px;
}
.overlay {
    background-image: url("525ce8c68675e9116674646ad80f9735.png");
    background-position: center;
    filter: blur(px);
    height: inherit;
}

.bottom {
    margin-bottom: 70px;
    font-size: 50px;
}

.bottom p {font-size: 20px;margin-bottom: 10px;text-indent: 0px;} 
/* End Header */
/* Start Section */
section {
    height: 400px;
    display: flex;
}

section img {
    height: inherit;
}

section .right {
    background-image: linear-gradient(to bottom, #ff002f, #f80056, #df007c, #b300a2, #6600c0);    padding: 35px;
    text-align: left;
    text-transform: capitalize;
    padding: 22px;
}


section h1 ,
section p ,
section h5,
section span {
    margin-bottom: 10px;
    padding: 10px;
}
section span {
    font-weight: 300;
    letter-spacing: 1px;
}
section h1 {
    font-size: 40px
}
section p {
    line-height: 1.5;
    font-weight: 300;
}

article {height: 300px;background-color: #ff0047;}
article img {height: 269px;}
article .container {
    height: inherit;
    display: grid;
    align-content: space-around;
    grid-template-columns: repeat(3, 1fr);
}
article .right h2 {
    text-align: right;
    padding: 30px;
    line-height: 1.4;
}

article .left {padding: 20px;}

article .left span,
article .left h2,
article .left p {
    padding: 10px;
}
article .left h2 {font-size: 35px;}
article .left span {
    letter-spacing: 2px;
}

article .left p {
    line-height: 1.5;
    font-style: italic;
}

article button {
    background-color: #000;
    padding: 12px 40px;
    border: transparent;
    font-style: italic;
    font-weight: 100;
    letter-spacing: 2px;
}
/* End Article */
/* Start Article 2 */
.article2 {height: 415px;background-color: #000;}
.article2 h1 {
    text-transform: capitalize;
    font-weight: 400;
    line-height: 1.3;
}

.article2 h5 {
    text-transform: uppercase;
    font-weight: 200;
    letter-spacing: 1.5px;
}

.article2 .container {
    display: flex;
    justify-content: space-between;
    padding: 25px;
}

.article2 .left * {text-align: left;padding: 10px;}
.article2 p {font-size: 16px; font-weight: 200;}
.article2 img {
    height: 354px;

}
.article2 button {
    padding: 12px 40px !important;
    border-radius: 0px;
    color: #000;
    font-weight: 600;
    letter-spacing: 1.4px;
    margin-top: 10px;
}
/* End Article 2*/

.iframe1 {
    display: flex;
    justify-content: center;
    padding: 10px;
    background-color: #000;
}
iframe {
    width: -webkit-fill-available;
    height: 700px;
}
/*  */
/*Start Footer*/
footer {
    background-color: #000;
}
footer .flex {
    display: flex;
    padding: 20px;
}

footer img {
    height: 95px;
}

footer p {
    font-family: "Nunito", sans-serif;
    font-style: italic;
    font-weight: 200;
}
/*End Footer*/
